<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" 
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="common/layout/csvstorage_layout">
 	  
	<head>
 
    	<script th:src="|${#httpServletRequest.getContextPath()}/public/js/admin/admin.js|"></script>
    	<script th:src="|${#httpServletRequest.getContextPath()}/public/js/admin/units.js|"></script>
    	<script th:src="|${#httpServletRequest.getContextPath()}/public/js/admin/users.js|"></script>
    	<script th:src="|${#httpServletRequest.getContextPath()}/public/js/admin/applications.js|"></script>
    	<script th:src="|${#httpServletRequest.getContextPath()}/public/js/admin/truststore.js|"></script>
    	<script th:src="|${#httpServletRequest.getContextPath()}/public/js/admin/scan.js|"></script>
    	
	</head>
	
	<body>
	
		<div layout:fragment="content" >
		
			<!-- INICIO DEL CONTENIDO-->

			<div class="mf-window-header">
				<div class="mf-window-header--hgroup">
 					<h3 class="mf-window-header--title" th:utext="#{admin.header.title}" ></h3> 
				</div>
			</div>
			
			
			<div id="contentData" class="mf-main--content">
				<div class="tabs">
					<ul class="tabs_group">
						<li><a href="#tab1" id="tab1_link" th:text="#{admin.tab1}"></a></li>
						<li><a href="#tab2" id="tab2_link" th:text="#{admin.tab2}"></a></li>
						<li><a href="#tab3" id="tab3_link" th:text="#{admin.tab3}"></a></li>
						<li><a href="#tab4" id="tab4_link" th:text="#{admin.tab4}"></a></li>
						<li><a href="#tab5" id="tab5_link" th:text="#{admin.tab5}"></a></li>
					</ul>
					<div class="tabs_container">
					
						<!-- APLICACIONES CONSUMIDORAS-->
						<div id="tab1" class="tab_content mf-tabs--tab-content" th:include="admin/applications"></div>
						
						<!-- UNIDADES -->
						<div id="tab2" class="tab_content mf-tabs--tab-content"></div>
						
						<!-- USUARIOS -->
						<div id="tab3" class="tab_content mf-tabs--tab-content"></div>
						
						<!-- TRUCKSTORE -->
						<div id="tab4" class="tab_content mf-tabs--tab-content"></div>
						
						<!-- Analisis del disco -->
						<div id="tab5" class="tab_content mf-tabs--tab-content"></div>
						
						<!-- Mensajes de confirmación -->
						<div th:replace="common/confirm_message :: confirm_message"></div>
						
					</div>
				</div>	
			</div>
	            
		</div>


	</body>
	
</html>