<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="common/layout/csvstorage_layout">

<head>

    	<script th:src="|${#httpServletRequest.getContextPath()}/public/js/admin/truststore.js|"></script>
		<script th:src="|${#httpServletRequest.getContextPath()}/public/js/admin/scan.js|"></script>

		<script type="text/javascript">
            function esconde() {
            	var el = document.getElementById('divLogs');
				el.style.display = (el.style.display == 'none') ? 'block' : 'none';
            }
        </script>

	</head>
	
	<body>
	
		<div layout:fragment="content" >
		
			<!-- INICIO DEL CONTENIDO-->

			<div class="mf-window-header">
				<div class="mf-window-header--hgroup">
 					<h3 class="mf-window-header--title" th:utext="Información" ></h3>
				</div>
			</div>
			
			
			<div id="contentData" class="mf-main--content">
				<div class="tabs">

					<br/>


					<div class="fld">

						<p class="fld">
							<span class="mf-report--label">Nombre del Host: </span>
							<p class="mf-report--data" id="nombreHost" th:text="*{nombreHost}?: '-'"></p>
						</p>


						<p class="fld">
							<span class="mf-report--label">Ip del Host: </span>
							<p class="mf-report--data" id="ipAdress" th:text="*{ipAdress}?: '-'"></p>
						</p>

						<p class="fld">
							<span class="mf-report--label">URL: </span>
							<p class="mf-report--data" id="url" th:text="*{url}?: '-'"></p>
						</p>


						<p class="fld">
							<span class="mf-report--label">Tamaño war (KB): </span>
							<p class="mf-report--data" id="ficheroSize" th:text="*{ficheroSize}?: '-'"></p>
						</p>

						<p class="fld">
							<span class="mf-report--label">Última modificación war: </span>
							<p class="mf-report--data" id="ficheroModi" th:text="*{ficheroModi}?: '-'"></p>
						</p>


						<p class="fld">
							<span class="mf-report--label">Truststore: </span>

							<p><a th:href="@{/admin/_info/descarga(unPath=${truststore}, nombreFichero=${truststore.getName()})}"
							  class="mf-sort-ln" th:text="${truststore}" target="_blank"></a></p>


						</p>


						<p class="fld">
							<span class="mf-report--label">LOGS: </span>
							<p class="mf-report--data" id="urlLogs" th:text="*{urlLogs}?: '-'"></p>
							<br/>
							<input type="button" value="Mostrar Logs" onclick="esconde()"/>
							<br/>

							<div id="divLogs" style="display:none;">

								<tr th:each="app : ${fichLogs}">
									<p><a th:href="@{/admin/_info/descarga(unPath=${app}, nombreFichero=${app.getName()})}"
										  class="mf-sort-ln" th:text="${app}" target="_blank"></a></p>

								</tr>
							</div>

						</p>


					</div>


				</div>

			</div>
	            
		</div>


	</body>
	
</html>