<script th:src="|${#httpServletRequest.getContextPath()}/public/js/admin/truststoredatatable.js|"></script>

<div id="edit-cert" class="fld">

 <form id="form_save_cert" th:fragment="edit-cert" th:object="${almacen}"> 							
	<fieldset>
		<legend>
			<span th:text="#{admin.cert.new.title}"></span>
		</legend>
		<div class="fld">
			
			<label th:for="${#ids.next('certificado')}" th:text="#{admin.cert.data.cert}"></label>
			<input type="file" id="certificado" th:field="*{certificado}" th:errorclass="'error'" /> 
			<label class="error" th:if="${#fields.hasErrors('certificado')}" th:errors="*{certificado}"></label>
		</div>
		
		<div class="fld">
			<label th:for="${#ids.next('Alias')}" th:text="#{admin.cert.data.alias}"></label>
			<input type="text" id="alias" th:field="*{alias}" th:errorclass="'error'" />
			<label class="error" th:if="${#fields.hasErrors('alias')}" th:errors="*{alias}"></label>
		</div>
		

	</fieldset>	
	
	<fieldset class="fsubmit"></fieldset>		
	
	<a onclick="reloadCerts();" class="simbutton primary"
				th:title="#{admin.cert.data.show}"
				th:text="#{admin.cert.data.show}"></a>
	<a onclick="saveCert();" class="simbutton primary"
				th:title="#{admin.cert.data.save}"
				th:text="#{admin.cert.data.save}"></a>
	<a onclick="limpiarCamposCertificado();" class="simbutton primary"
			th:title="#{admin.cert.data.clear}" th:text="#{admin.cert.data.clear}"></a>
				
 </form>	

</div>


<div id="list-alias" class="fld">
	
	<table id="certificateList" class="mf-table-data mf-table-data__sortable mf-table-data__zebra" th:fragment="list-alias">
		<thead>
			<tr>
				<th><a href="#!" class="mf-sort-ln" th:text="#{admin.list.cert.col.alias}"></a></th>
				<th th:text="#{admin.list.application.col.actions}"></th>
			</tr>	
		</thead>
		<tbody>		
			<tr th:each="alias,status  : ${aliasList}">
				<td th:text="${alias}" th:id="|alias_${status.index}|"/>
				
				<td>
				  
					<a th:href="|javascript:prepareDeleteCert('${status.index}','${alias}');|" 
					   th:attr="data-confirm-question-type=#{confirm.message.first.part.question.delete}"
					   th:title="#{admin.list.cert.button.delete}" 
					   th:id="|btn_delete_cert_${status.index}|"
					   class="btn-table-action btn__no-text">
						<span class="mf-icon mf-icon-delete"></span>
					</a> 
					
					<a th:href="|javascript:showCertificate('${alias}');|" 
					   th:title="#{admin.list.cert.button.detail}" 
					   th:id="|btn_detail_certificate_${status.index}|"
					   class="btn-table-action btn__no-text">
						<span class="mf-icon mf-icon-eye"></span>
					</a> 
				</td>
			</tr>										
		</tbody>
	</table>
	
</div>

 <script>
		var tableCertificate;
	</script>

<form id="form_action_cert" method="post" >
	<input type="hidden" id="hiddenIdCert" name="id" value="" />
</form>


<div id="popupCertificate" title="Certificado" class="fld hidden">
<fieldset class="mf-form__stack">
	<div class="block" style="width:225px">
		<div class="fld">
			<label th:text="#{admin.cert.data.alias}"></label>
			<input type="text" id="popupAlias" style="width:220px"/>
		</div>
		<div class="fld">
			<label th:text="#{admin.cert.data.subject}"></label>
			<input type="text" id="popupAsunto" style="width:220px"/>
		</div>
		<div class="fld">
			<label th:text="#{admin.cert.data.issuer}"></label>
			<input type="text" id="popupEmisor" style="width:220px"/>
		</div>	
		
	</div>
	<div class="block" style="width:185px">
		<div class="fld">
			<label th:text="#{admin.cert.data.serialNumber}"></label>
			<input type="text" id="popupSerialNumber" style="width:180px"/>
		</div>	
		<div class="fld">
			<label th:text="#{admin.cert.data.validFrom}"></label>
			<input type="text" id="popupValidoDesde" style="width:180px"/>
		</div>	
		<div class="fld">
			<label th:text="#{admin.cert.data.validUntil}"></label>
			<input type="text" id="popupValidoHasta" style="width:180px"/>
		</div>	
	</div>
	
</fieldset>	
</div>