<div id="dialog_ver_dir3" th:fragment="ver_dir3" >

	
		<fieldset>

			<div class="fld">
				<label for="unidadOrganica"
					th:text="#{admin.edit.units.modal.codigo}"></label> <input
					type="text" id="unidadOrganica" name="unidadOrganica" value=""
					maxlength="" />
			</div>

			<div class="fld">
				<label for="nombre"
					th:text="#{admin.edit.units.modal.nombre}"></label> <input
					type="text" id="nombre" name="nombre" value=""
					maxlength="" />
			</div>

			<div class="fld">
				<label for="nivelAdministracion"
					th:text="#{admin.edit.units.modal.niveladministracion}"></label> <input
					type="text" id="nivelAdministracion" name="nivelAdministracion" value=""
					maxlength="" />
			</div>
			
			<div class="fld">
				<label for="nivelJerarquico"
					th:text="#{admin.edit.units.modal.niveljerarquico}"></label> <input
					type="text" id="nivelJerarquico" name="nivelJerarquico" value=""
					maxlength="" />
			</div>
			
			<div class="fld">
				<label for="codigoUnidadSuperior"
					th:text="#{admin.edit.units.modal.codigounidadsuperior}"></label> <input
					type="text" id="codigoUnidadSuperior" name="codigoUnidadSuperior" value=""
					maxlength="" />
			</div>
			
			<div class="fld">
				<label for="nombreUnidadSuperior"
					th:text="#{admin.edit.units.modal.nombreunidadsuperior}"></label> <input
					type="text" id="nombreUnidadSuperior" name="nombreUnidadSuperior" value=""
					maxlength="" />
			</div>
			
			<div class="fld">
				<label for="codigoUnidadRaiz"
					th:text="#{admin.edit.units.modal.codigounidadraiz}"></label> <input
					type="text" id="codigoUnidadRaiz" name="codigoUnidadRaiz" value=""
					maxlength="" />
			</div>
			
			<div class="fld">
				<label for="nombreUnidadRaiz"
					th:text="#{admin.edit.units.modal.nombreunidadraiz}"></label> <input
					type="text" id="nombreUnidadRaiz" name="nombreUnidadRaiz" value=""
					maxlength="" />
			</div>
			
			<div class="fld">
				<label for="fechaCreacion"
					th:text="#{admin.edit.units.modal.fechaCreacion}"></label> <input
					type="text" id="fechaCreacion" name="fechaCreacion" value=""
					maxlength="" />
			</div>

		</fieldset>

		
	<div id="errorInDialog" class="error"></div>
</div>