
<div id="confirm_message" class="is-hidden confirm_message" th:fragment="confirm_message">
	<div class="fld">
		<span class="mf-icon-24 mf-icon-warning-24"></span>
		<span id="question_type"></span><span id="question" th:text="#{confirm.message.last.part.question}"></span>
	</div>
	<div class="fld">
	  	<button id="yes_button" name="yes_button" class="simbuttom secondary">
			<span th:title="#{confirm.message.yes}" th:text="#{confirm.message.yes}"></span>
		</button>
	  	<button id="no_button" name="no_button" class="simbuttom secondary" onclick="$('#confirm_message').hide();">
			<span th:title="#{confirm.message.no}" th:text="#{confirm.message.no}"></span>
		</button>
	</div>
</div>