<!DOCTYPE html>
<html>
	<head>
	    
	</head>
	<body>
	
	     <footer id="footer" class="mf-footer" th:fragment="footer">
	    	<div class="mf-footer--content">
				<p class="mf-footer--copy">
					<strong><span th:text="#{footer.title}"></span>
					<span th:text="#{footer.version} + ' ' + ${@environment.getProperty('version')}"></span>
					</strong> 
					<span th:text="#{footer.label.ministerio}"></span>
				</p>
	    	</div>
	    	<input type="hidden" id="generic_error" th:value="#{generic.error}" />
	    </footer>
	    
	    <div th:fragment="js">
	    	<script th:src="|${#httpServletRequest.getContextPath()}/public/js/main.js|"></script>
			<script th:src="|${#httpServletRequest.getContextPath()}/public/js/widgets/init.js|"></script>
			<script th:src="|${#httpServletRequest.getContextPath()}/public/js/widgets/tabs.js|"></script>
			<script th:src="|${#httpServletRequest.getContextPath()}/public/js/libs/jquery-datatables/jquery.dataTables.js|"></script>
			<div class="mf-dialog is-hidden"></div>
		</div>
	</body>
</html>