<!DOCTYPE html>
<html
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

</head>

<body>

	<!-- HEADER  -->
	<header id="header" class="mf-header" th:fragment="header">

		<input type="hidden" id="context"
			th:value="${#httpServletRequest.getContextPath()}" />

		<div class="mf-header--container">
			<div id="mainHeader" class="mf-header--logo">
				<h1 class="mf-logo">
					<a class="mf-logo--link" href="#!" title="#{header.logo.tilte}">
						<img class="mf-logo--img"
						th:src="|${#httpServletRequest.getContextPath()}/public/images/logoSEAP.gif|"
						alt="#{header.logo.tilte}" />
					</a>
				</h1>
			</div>

			<div id="topBar" class="mf-topbar ">
			
					<div class="mf-topbar--container">

						<div class="mf-usermenu">
						
							<ul id="userMenu" class="mf-usermenu--menu" >		
								<li class="mf-usermenu--item">
									<div sec:authorize="isAuthenticated()" class="mf-profiles--title">
									    Logged as: <span sec:authentication="name"></span>
									</div>
								</li>
								<li class="mf-usermenu--item">
									<a sec:authorize="isAuthenticated()" class="mf-usermenu--logout" id="logout" th:href="@{/logout}">
										<span th:text="#{header.label.logout}" />
									</a>
									<!-- <form sec:authorize="hasRole('ROLE_USER')" th:action="@{/logout}" method="post">
										<input type="submit" value="Sign Out" class="mf-usermenu- -logout"/>
									</form> -->
								</li>
							</ul>	
						</div>				
					</div>
				</div>
				
			<div id="headerContent" class="mf-header--content">

				<h2 class="app-title" th:utext="#{header.title}"></h2>

				<nav id="appMenu" class="mf-appmenu">
					<h4 class="mf-appmenu--title">
						<a href="#!">Menu principal</a>
					</h4>
					<ul sec:authorize="isAuthenticated()" class="mf-appmenu--menu" role="navigation">
						<li sec:authorize="hasRole('ADMIN')" class="mf-appmenu--item mf-appmenu--item__L1"
							th:classappend="${session.menuSelected == 1 ? ' is-selected' : '' }">
							<a th:href="@{/admin}" th:text="#{header.menu.item1}"></a>
						</li>
						<li class="mf-appmenu--item mf-appmenu--item__L1"
							th:classappend="${session.menuSelected == 2 ? ' is-selected' : '' }">
							<a th:href="@{/test}" th:text="#{header.menu.item2}"></a>
						</li>
						
						<li class="mf-appmenu--item mf-appmenu--item__L1"
							th:classappend="${session.menuSelected == 3 ? ' is-selected' : '' }">
							<a th:href="@{/testENI}" th:text="#{header.menu.item3}"></a>
						</li>
					</ul>
				</nav>

			</div>

		</div>

	</header>

</body>

</html>