<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" 
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="common/layout/csvstorage_layout">
 	  
	<head>
	
		<!-- script th:src="|${#httpServletRequest.getContextPath()}/public/js/test/test.js|"></script-->
		
	</head>
	
	<body>
	
		<div layout:fragment="content" >
		
			<!-- INICIO DEL CONTENIDO-->

			<div class="mf-window-header">
				<div class="mf-window-header--hgroup">
 					<h3 class="mf-window-header--title" th:utext="#{test.header.title}" ></h3> 
				</div>
			</div>
			
			<div id="contentData" class="mf-main--content">
											
				<h5 class="login-title" th:text="#{test.h5.title}"></h5>
				
				<form id="testForm" th:action="@{/test}" method="post" th:object="${documentRequest}" >
					
					<div class="fld">
						<label for="input_dir3" th:text="#{test.label.dir3}"></label>
						<input id="input_dir3" type="text" th:field="*{dir3}" th:errorclass="'error'" />
						<label class="error" th:if="${#fields.hasErrors('dir3')}" th:errors="*{dir3}"></label>
					</div>
					
					<div class="fld">
						<label for="input_csv" th:text="#{test.label.csv}"></label>
						<input id="input_csv" type="text" th:field="*{csv}" th:errorclass="'error'" />
						<label class="error" th:if="${#fields.hasErrors('csv')}" th:errors="*{csv}"></label>
					</div>
					
					<div class="fld">
						<label for="input_idEni" th:text="#{test.label.idEni}"></label>
						<input id="input_idEni" type="text" th:field="*{idEni}" th:errorclass="'error'" />
						<label class="error" th:if="${#fields.hasErrors('idEni')}" th:errors="*{idEni}"></label>
					</div>
					
					<div class="fld"><input id="example_submit" type="submit" th:value="#{test.input.submit}"/></div>
					
				</form>
					
				<div class="fld"></div>

				<div th:if="${response != null}" class="fld">
										
					<!-- DOCUMENTO -->
					<form id="testForm" method="post" th:object="${response}" >
						<label class="mf-report--label" th:text="#{test.resultado.document.uuid}"></label>
						<p class="mf-report--data" id="uuid" th:text="${response.uuid}"></p>

						<label class="mf-report--label" th:text="#{test.resultado.document.mime}"></label>
						<p class="mf-report--data" id="mimeType" th:text="${response.mimeType}"></p>
						
						<label class="mf-report--label" th:text="#{test.resultado.document.permission}"></label>
						<p class="mf-report--data" id="tipoPermiso" th:text="${response.tipoPermiso.description}"></p>
						
						<label class="mf-report--label" th:text="#{test.resultado.document.content}"></label>
						<p class="mf-report--data" id="contenido.content" th:text="${size}"></p>
						<input type="hidden" th:field="${size}" /> 
						
					</form>
				
				</div>
									
			</div>
	            
		</div>


	</body>
	
</html>