<!DOCTYPE html>

<!--[if lt IE 8 ]> <html class="ie ie7 no-js" lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8 no-js" lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<![endif]-->
	
	<head>
    	<title th:text="#{layout.titulo}"></title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<!-- CSS -->
    			    
    	<link href="|${#httpServletRequest.getContextPath()}/public/css/styles.css|" 
    			th:href="@{/public/css/styles.css}" 
    			rel="stylesheet" media="screen" /> 
    			  
    			  
    	<link href="|${#httpServletRequest.getContextPath()}/public/css/custom.css|" 
    			th:href="@{/public/css/custom.css}" 
    			rel="stylesheet" media="screen" />  
    			
    			 
    	<link th:href="|${#httpServletRequest.getContextPath()}/public/css/jquery-ui-1.9.2.custom.min.css|" 
    			rel="stylesheet" media="screen" /> 
    			
    			
    	<!-- JAVA SCRIPT -->
    	
    	<script th:src="|${#httpServletRequest.getContextPath()}/public/js/libs/jquery/jquery-1.10.2.js|"></script>
    	
    	<script th:src="|${#httpServletRequest.getContextPath()}/public/js/libs/jquery/jquery-ui-1.9.2.custom.js|"></script>
    	
    	<link th:href="|${#httpServletRequest.getContextPath()}/public/css/jquery.dataTables.css|" rel="stylesheet" media="screen" />
    	
	</head>
	
	<body class="dev">
	
		<!-- CONTAINER -->
		<div id="container" class="mf-container">
		
			
			
			<!-- HEADER -->
			<div th:replace="common/header :: header"></div>
			
			<!-- WRAPPER -->
			<div id="wrap" class="mf-wrapper">
		
				<!-- CAJAS DE ADVERTENCIA-->
				<div th:replace="common/message :: message"></div>
				<div th:include="common/message :: js"></div>
			
				<!-- AQUI EL CONTENIDO-->
				<div class="mf-main" id="tabla">
				
					<div layout:fragment="content"></div>
					
	            </div>
		
			</div>
		
		</div>
		
		<!-- FOOTER -->
		<div th:replace="common/footer :: footer"></div>
		<div th:include="common/footer :: js"></div>
		
	</body>
	
</html>